@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../icon/background/bg-myteam.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1; 
}

.container {
    max-width: 400px;
    padding: 20px;
    position: relative; 
    top: 40px; 
    left: -35vw;
    z-index: 1; 
}
@media screen and (max-width: 1200px) {
    .container {
        left: -25vw; 
    }
}

@media screen and (max-width: 992px) {
    .container {
        left: -20vw; 
    }
}

@media screen and (max-width: 768px) {
    .container {
        left: 0; 
        top: 20px; 
    }
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    justify-content: center;
}

.card {
    background: linear-gradient(135deg, rgba(29, 43, 100, 1), rgba(248, 205, 218, 1));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #333;
    max-width: 400px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.card:hover {
    background: linear-gradient(90deg, rgba(182, 182, 182, 0.1) 1px, transparent 1px), 
                linear-gradient(rgba(230, 223, 223, 0.1) 1px, transparent 1px), 
                #8c8c8c;
    background-size: 20px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 250px;
    color: #ddd;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 5px;
    margin-bottom: 15px;
    object-fit: cover;
}

.team-name {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
}

.game-name {
    font-size: 16px;
    margin: 5px 0;
    color: #ddd;
}

.card-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.card-list li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
}

.card-list li:last-child {
    border-bottom: none;
}

.card-links {
    margin-top: 12px;
    justify-content: space-between;
    display: flex;
    gap: 12px;
}

.card-link {
    color: #0d6efd;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px; 
    width: 100%; 
}

.pagination a {
    padding: 10px 10px;
    margin: 0 5px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #7D7BFF;
}

.pagination a:hover {
    background-color: #A99CFF;
}

@media screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}
.btn-jointeam {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7D7BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Audiowide', cursive;
}

.btn-jointeam:hover {
    background-color: #A99CFF;
    top: 250px;
}

