@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background: linear-gradient(135deg, #1d2b64, #f8cdda);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
    font-family: 'Audiowide', cursive;
}
.container {
    max-width: 1000px;
    margin: 100px auto;
    background: transparent; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 2px solid #3a3a3a; 
    padding: 12px;
    text-align: left;
    color: #E0E0E0;
}

table th {
    background-color: transparent; 
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
    font-family: 'Audiowide', cursive;
}

table td {
    background-color: transparent;
    color: #b1b1b1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
    font-family: 'Audiowide', cursive;
}

table tr:hover td {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff;
}

a {
    color: #ffffff; 
    text-decoration: none;
    text-decoration: underline;
    font-style: italic;
}

a:hover {
    color: #ff6347; 
    text-decoration: underline;
    font-style: italic;
}
.btn-add {
    background-color: #7D7BFF ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Audiowide', cursive;
}

.btn-add:hover {
    background-color: #A99CFF;
}
form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #7D7BFF;
    border-radius: 5px;
    margin-right: 10px; 
    width: 250px;
    font-family: 'Audiowide', cursive;
}
[type="text"]{
    font-family: 'Audiowide', cursive;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7D7BFF;
}
.welcome-container {
    text-align: center;
    max-width: 2000px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    justify-content: center ;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


