@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background: linear-gradient(135deg, #1d2b64, #f8cdda);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
    font-family: 'Audiowide', cursive;
}
body::-webkit-scrollbar {
    display: none; 
}
.main-content {
    position: absolute;
    top: 950px; 
    left: 50%;
    transform: translateX(-50%);
    width: 98%; 
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 100vh;
    z-index: 3;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
    display: block;
    z-index: 0;
}
.video-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.welcome-homepage {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-family: 'Audiowide', cursive;
    white-space: nowrap;
}
.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Audiowide', cursive;
    margin-bottom: 10px; 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.container {
    max-width: 1000px;
    margin: 100px auto;
    background: transparent; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.background-2 {
    position: absolute;
    top: 800px; 
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url('../icon/background/map-contact.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1; 
}

.background-2 .content {
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}
.background-3 {
    position: absolute;
    top: 1100px; 
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url('../icon/background/trendiang-bg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
}

.background-3 .content {
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.footer {
    background-color: transparent;
    padding: 40px 20px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 2;
    margin-top: 700px; 
    font-family: 'Audiowide', cursive;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo-image {
    width: 100px; 
    margin-bottom: 10px;
}

.footer-title {
    font-size: 1.8rem;
    margin: 0;
}

.footer-subtitle {
    font-size: 1rem;
    margin: 0;
    color: #777;
}

.footer-description {
    margin: 20px 0;
    font-size: 0.9rem;
    color: #ccc;
    max-width: 600px;
    margin: 0 auto;
}

.footer-info {
    margin-top: 20px;
}

.footer-info p {
    font-size: 0.9rem;
    margin: 10px 0;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info i {
    margin-right: 10px;
    color: #f39c12; 
}

.footer-copyright {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #333;
    padding-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 2px solid #3a3a3a; 
    padding: 12px;
    text-align: left;
    color: #E0E0E0;
}

table th {
    background-color: transparent; 
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
    font-family: 'Audiowide', cursive;
}

table td {
    background-color: transparent;
    color: #b1b1b1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
    font-family: 'Audiowide', cursive;
}

table tr:hover td {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff;
}

a {
    color: #ffffff; 
    text-decoration: none;
    text-decoration: underline;
    font-style: italic;
}

a:hover {
    color: #ff6347; 
    text-decoration: underline;
    font-style: italic;
}
.btn-add {
    background-color: #7D7BFF ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-family: 'Audiowide', cursive;
}

.btn-add:hover {
    background-color: #A99CFF;
}
.btn-join {
    position: absolute;
    top: 200px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #7D7BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Audiowide', cursive;
    transition: background-color 0.3s;
}

.btn-join:hover {
    background-color: #A99CFF;
}
form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #7D7BFF;
    border-radius: 5px;
    margin-right: 10px; 
    width: 250px;
    font-family: 'Audiowide', cursive;
}
[type="text"]{
    font-family: 'Audiowide', cursive;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #7D7BFF;
}
.welcome-container {
    background: linear-gradient(90deg, rgba(182, 182, 182, 0.1) 1px, transparent 1px), linear-gradient(rgba(230, 223, 223, 0.1) 1px, transparent 1px), #8c8c8c ;
    background-size: 20px 20px;
    text-align: center;
    max-width: 2000px;
    padding: 40px;
    border-radius: 10px;
    justify-content: center ;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


