@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(150deg, #1d2b64, #f8cdda);
    padding: 15px 20px;
}

.logo img {
    width: 60px; 
    height: 60px; 
    max-width: 100%; 
    display: block;
    object-fit: contain; 
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a {
    color: #E0E0E0;
    font-family: 'Audiowide', cursive;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
}

.nav-links li a:hover {
    color: #ff6347; 
}

.title h1 {
    color: white; 
    font-family: 'Audiowide', cursive; 
    font-size: 24px; 
    margin-left: -240px; 
    margin-top: 11px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none; 
        flex-direction: column;
    }

    .navbar .menu-icon {
        display: inline-block;
        cursor: pointer;
    }
    .logo img {
        width: 60px;
    }
}

