.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pagination a {
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}
.pagination a.active {
    background-color: #7D7BFF;
}
.pagination a:hover {
    background-color: #A99CFF;
}